<div class="clientes-grid">
    <div class="clientes-row">
        <picture>
            <source media="(max-width: 767px)" srcset="/assets/visuals/Aréa{{#is 'en'}}-en{{/is}}-md.png" />
            <img src="/assets/visuals/Aréa{{#is 'en'}}-en{{/is}}.png" />
        </picture>
        <picture>
            <source media="(max-width: 767px)" srcset="/assets/visuals/Rancho%20el%2017{{#is 'en'}}-en{{/is}}-md.png" />
            <img src="/assets/visuals/Rancho%20el%2017{{#is 'en'}}-en{{/is}}.png" />
        </picture>
        <picture>
            <source media="(max-width: 767px)" srcset="/assets/visuals/Cirene{{#is 'en'}}-en{{/is}}-md.png" />
            <img src="/assets/visuals/Cirene{{#is 'en'}}-en{{/is}}.png" />
        </picture>
    </div>
    <div class="clientes-row">
        <picture>
            <source media="(max-width: 767px)" srcset="/assets/visuals/HEDental{{#is 'en'}}-en{{/is}}-md.png" />
            <img src="/assets/visuals/HEDental{{#is 'en'}}-en{{/is}}.png" />
        </picture>
        <picture>
            <source media="(max-width: 767px)"
                srcset="/assets/visuals/Balloon%20Inspirations{{#is 'en'}}-en{{/is}}-md.png" /> <img
                src="/assets/visuals/Balloon%20Inspirations{{#is 'en'}}-en{{/is}}.png" />
        </picture>
        <picture>
            <source media="(max-width: 767px)" srcset="/assets/visuals/Vegana%20de%20Closet{{#is 'en'}}-en{{/is}}-md.png" />
            <img src="/assets/visuals/Vegana%20de%20Closet{{#is 'en'}}-en{{/is}}.png" />
        </picture>
    </div>
    <div class="clientes-row">
        <picture>
            <source media="(max-width: 767px)" srcset="/assets/visuals/Aquido{{#is 'en'}}-en{{/is}}-md.png" />
            <img src="/assets/visuals/Aquido{{#is 'en'}}-en{{/is}}.png" />
        </picture>
        <picture>
            <source media="(max-width: 767px)" srcset="/assets/visuals/Tégen{{#is 'en'}}-en{{/is}}-md.png" />
            <img src="/assets/visuals/Tégen{{#is 'en'}}-en{{/is}}.png" />
        </picture>
        <picture>
            <source media="(max-width: 767px)" srcset="/assets/visuals/Vero%20Orozco{{#is 'en'}}-en{{/is}}-md.png" />
            <img src="/assets/visuals/Vero%20Orozco{{#is 'en'}}-en{{/is}}.png" />
        </picture>
    </div>
    <div class="clientes-row">
        <picture>
            <source media="(max-width: 767px)" srcset="/assets/visuals/El%20Potcast{{#is 'en'}}-en{{/is}}-md.png" />
            <img src="/assets/visuals/El%20Potcast{{#is 'en'}}-en{{/is}}.png" />
        </picture>
        <picture>
            <source media="(max-width: 767px)" srcset="/assets/visuals/Koulud{{#is 'en'}}-en{{/is}}-md.png" />
            <img src="/assets/visuals/Koulud{{#is 'en'}}-en{{/is}}.png" />
        </picture>
        <picture> 
            <source media="(max-width: 767px)" srcset="/assets/visuals/cirb{{#is 'en'}}-en{{/is}}-md.png" />
            <img src="/assets/visuals/cirb{{#is 'en'}}-en{{/is}}.png" />
        </picture>
    </div>
</div>