<form>
<span>Déjanos <b>tus datos</b> y nos comunicaremos contigo</span><br>
<span>en <b>menos de 24 hrs</b></span>
    <div class="contact flex-column-md">
        <input class="element-start" type="text" placeholder="NOMBRE" />
        {{>separator}}
        <input class="element-middle" type="text" placeholder="TELÉFONO" />
        {{>separator}}
        <input class="element-end" type="text" placeholder="CORREO" />
    </div>
<input type="image" src="/assets/visuals/enviar.svg" name="submit"/>
</form>