<div class="cotizar-btn">
    {{#is "en"}}
    <a href="/request-quote">
        <span><b>Aöra</b> Solutions</span>
    </a>
    {{else}}
    <a href="/cotizar">
        <span><b>Cotizar</b> Proyecto</span>
    </a>
    {{/is}}

</div>