<footer id="contact" class="site-footer">
    <div class="footer-start"><img loading="lazy" src="/assets/visuals/momentisnow.svg" /></div>
    <div class="footer-middle">
        {{> contact}}
         {{> separator-title}}
    </div>
   
    <div class="footer-end">
        <div class="only-desktop">{{> logo}}</div>
        <div style="display: flex; align-items:center">
            <div><img loading="lazy" class="separator only-desktop" src="/assets/visuals/separator-slash.svg" /></div>
            <div class="copyright">
                <a href="/aviso-de-privacidad">{{#is "en"}}PRIVACY POLICY{{else}}AVISO DE PRIVACIDAD{{/is}}</a>
            </div>
            <div class="only-desktop"><img loading="lazy" class="separator" src="/assets/visuals/separator-slash.svg" /></div>
            <div style="align-self: center; margin-left:1rem"><a class="mail-contact" href="mailto:hello@aoraagency.com">hello@aora.agency</a></div>
        </div>
        <div class="only-mobile">
            <br>
            <img loading="lazy" class="logo-image" src="/assets/visuals/logo.svg" alt="{{@site.title}}">
        </div>
    </div>
</footer>