<footer id="contact" class="site-footer">

    <div class="footer-start"><img loading="lazy" src="/assets/visuals/momentisnow{{#is " en"}}-en{{/is}}.svg" /></div>
    <div class="footer-middle">
        {{> contact}}
        {{> separator-title}}
    </div>

    <div class="footer-end">
        <div class="only-desktop">
            <div style="display: flex; align-items: center;">
                {{> logo}}
                <div><img loading="lazy" class="separator only-desktop" src="/assets/visuals/separator-diagonal.svg" />
                </div>
                <div class="copyright" style="margin-top: 0 !important">
                    <a href="/aviso-de-privacidad">{{#is "en"}}PRIVACY POLICY{{else}}AVISO DE PRIVACIDAD{{/is}}</a>
                </div>
                <div><img loading="lazy" class="separator" src="/assets/visuals/separator-diagonal.svg" /></div>
                <div><a class="mail-contact">Tel. (662) 276 7409</a></div>
                <div><img loading="lazy" class="separator" src="/assets/visuals/separator-diagonal.svg" /></div>
                <div style="align-self: center; margin-left:1rem"><a class="mail-contact"
                        href="mailto:hello@aoraagency.com">hello@aora.agency</a></div>
            </div>
        </div>
        <div class="only-mobile">
            <div style="display: flex; justify-content: center;">
                <div><a class="mail-contact">Tel. (662) 276 7409</a></div>
                <div><img loading="lazy" class="separator" src="/assets/visuals/separator-diagonal.svg" /></div>
                <div><a class="mail-contact" href="mailto:hello@aoraagency.com">hello@aora.agency</a></div>
            </div>
            <div class="copyright">
                <a href="/aviso-de-privacidad">{{#is "en"}}PRIVACY POLICY{{else}}AVISO DE PRIVACIDAD{{/is}}</a>
            </div>
        </div>
    </div>
</footer>