<footer id="contact" class="site-footer">
    <div class="footer-start"><img src="/assets/visuals/momentisnow.svg" /></div>
    <div class="footer-middle">
        {{> contact}}
    </div>
    <div class="footer-end">
          <div>{{> logo}}</div>
          <div class="copyright">{{> separator}}<a href="#privacy">AVISO DE PRIVACIDAD</a>{{>separator}}</div>
          <div><a href="mailto:hello@aoraagency.com">hello@aora.agency</a></a></div>
    </div>
</footer>