<header class="site-header container">
    <div class="navbar">
        <!--div class="navbar-left hide-md">
            <nav class="main-menu">
                {{> navigation}}
            </nav>
        </div-->
        <div class="header-logo">
            {{> logo}}
        </div>
        <div class="navbar-right">

           {{> cotizar-btn}}
            <div class="lang-switch"><span>
                    {{#is "en"}}
                    <a href="/" title="sitio en español"><b>EN</b> / ES</a>
                    {{else}}
                    <a href="/en" title="english version">EN / <b>ES</b></a>
                    {{/is}}
                </span>
            </div>

        </div>
    </div>
</header>