<header class="site-header container">
    <div class="navbar">
        <!--div class="navbar-left hide-md">
            <nav class="main-menu">
                {{> navigation}}
            </nav>
        </div-->
        <div class="header-logo">
            {{> logo}}
        </div>
        <div class="navbar-right">
            <span>
                <a href="/en/" class="lang {{#is "en"}}lang-active{{/is}}">EN</a>
                &nbsp;/&nbsp;
                <a href="/" class="lang {{^is "en"}}lang-active{{/is}}">ES</a>
            </span>
            <span>CORREO</span>
            <a href="mailto:hello@aora.agency">hello@aora.agency</a>
        </div>
    </div>

</header>