<header class="site-header container">
    <div class="navbar">
        <div class="navbar-left hide-md">
            <!--div class="burger hidden-lg hidden-xl"></div-->
            <!--{{> logo}}
            <div class="sep hidden-xs hidden-sm hidden-sm"></div-->
            {{#if @site.navigation}}
                <nav class="main-menu">
                    {{navigation}}
                </nav>
            {{/if}}
        </div>
        <div class="header-logo navbar-middle">
            {{> logo}}
        </div>
        <div class="navbar-right">
            <span>EN / <b>ES</b></span>
            <span>CORREO</span>
            <a href="mailto:hello@aora.agency">hello@aora.agency</a>
        </div>
    </div>

</header>