<header class="site-header container">
    <div class="navbar">
        <!--div class="navbar-left hide-md">
            <nav class="main-menu">
                {{> navigation}}
            </nav>
        </div-->
        <div class="header-logo">
            {{> logo}}
        </div>
        <div class="navbar-right">

           {{> cotizar-btn}}
            <div> <span style="font-size: large;">
                    {{#is "en"}}
                    <a href="/" title="sitio en español">es</a>
                    {{else}}
                    <a href="/en" title="english version">en</a>
                    {{/is}}
                </span>
            </div>

        </div>
    </div>
</header>