<header class="site-header container">
    <div class="navbar">
        <!--div class="navbar-left hide-md">
            <nav class="main-menu">
                {{> navigation}}
            </nav>
        </div-->
        <div class="header-logo">
            {{> logo}}
        </div>
        <div class="navbar-right">
            <span style="font-size: large;">
                {{#is "en"}}
                <a href="/" title="sitio en español">es</a>
                {{else}}
                <a href="/en" title="english version">en</a>
                {{/is}}
            </span>
            <a id="cotizar" href="/cotizar" title='{{#is "en"}}"Ask for a custom solution"{{else}}"Solicitar un presupuesto personalizado"{{/is}}' >
            <div>
                <div>
                    {{#is "en"}}
                        LETS WORK
                    {{else}}
                        COTIZAR
                    {{/is}}
                </div>
            </div>
            </a>
        </div>
    </div>
</header>