<header class="site-header container">
    <div class="navbar">
        <!--div class="navbar-left hide-md">
            <nav class="main-menu">
                {{> navigation}}
            </nav>
        </div-->
        <div class="header-logo">
            {{> logo}}
        </div>
        <div class="navbar-right">
            
            <div class="cotizar-btn">
                {{#is "en"}}
                 <input id="cotizar" type="image" src="/assets/visuals/cotizar-en.svg" id="cotizar" href="/cotizar" title="Solutions made for you" />
                {{else}}
                 <input id="cotizar" type="image" src="/assets/visuals/cotizar.svg" id="cotizar" href="/cotizar" title="Soluciones para ti" />
                {{/is}}
                
            </div>
            <div> <span style="font-size: large;">
                    {{#is "en"}}
                    <a href="/" title="sitio en español">es</a>
                    {{else}}
                    <a href="/en" title="english version">en</a>
                    {{/is}}
                </span>
            </div>
            
        </div>
    </div>
</header>