<div class="somos">
    <div>
    {{#is "en"}}
    <picture>
        <source media="(max-width: 767px)" srcset="/assets/visuals/work-somos-text-md-en.svg">
        <img src="/assets/visuals/work-somos-text-en.svg" />
    </picture>
    {{else}}
    <picture>
        <source media="(max-width: 767px)" srcset="/assets/visuals/work-somos-text-md.svg">
        <img src="/assets/visuals/work-somos-text.svg" />
    </picture>
    {{/is}}
    </div>
    <div class="somos-footer">
        <div><input type="tel" placeholder={{#is "en"}}"PHONE"{{else}}"TELÉFONO"{{/is}}> </div>
        {{separator-line}}
        <div><input type="image" src={{#is "en"}}"/assets/visuals/recibir-llamada-en.svg"{{else}}"/assets/visuals/recibir-llamada.svg"{{/is}}></div>
    </div>
</div>