#cotizar-section {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    font-size: calc(14pt);
    max-width: calc(1140px);
    width: 100%;
    padding-top: 4rem;
}

#cotizar-section>div {
    flex-basis: 50%;
}

#cotizar-section>div:first-child img {
    padding-left: 40%;
}

#cotiza-form>div {
    width: 100%;
    padding-top: 15px;
}

#cotiza-form>div>input:not([type='checkbox']) {
    width: 100%;
    box-shadow: rgb(255 255 255 / 40%) 0px 3px;
    text-decoration: none;
    color: var(--light-gray-color);
}

#cotiza-form>div>input[name="intereses"]::placeholder {
    color: var(--white-color);
}

#cotiza-form>div>input[type='checkbox'] {
    margin-right: 4px;
    filter: invert(60%);
}

#cotiza-form>div>input[type='checkbox']:checked {
    filter: invert(100%);
}

#cotiza-form .end {
    display: flex;
    justify-content: flex-end;
}

#cotiza-form textarea {
    margin-top: 5px;
    width: 100%;
}

#cotiza-form button {
    cursor: pointer;
    transform: scale(1.5);
    border: none;
    background-color: inherit;
    filter: invert(1);
}

@media (max-width: 767px) {
    #cotizar-section>div:first-child img {
        padding-left: unset;
    }
    #cotizar-section>div {
        flex-basis: unset;
        margin-bottom: 2rem;
    }
    #cotizar-section {
        flex-direction: column;
        align-items: center;
        transform: unset;
        font-size: unset;
        padding-top: unset;
    }
    #cotiza-form>div {
        padding-top: 10px;
    }
}
