{{!< default}} <section id="home">
    <picture>
        <source media="(min-width: 767px)" srcset="/assets/visuals/creamos.svg">
        <source media="(max-width: 767px)" srcset="/assets/visuals/creamos-md.svg">
        <img src="/assets/visuals/creamos.svg">
    </picture>
    {{> contact}}
    </section>
    <section id="philosophy">

    </section>
    <section id="work">
        <div class="somos">
            <picture>
                <source media="(max-width: 767px)" srcset="/assets/visuals/somos-md.svg">
                <img src="/assets/visuals/somos-md.svg" />
            </picture>
        </div>
        <div class="clientes">
            <picture>
                <source media="(max-width: 767px)" srcset="/assets/visuals/work-clientes-md.svg">
                <img src="/assets/visuals/work-clientes.svg">
            </picture>
        </div>

        <div class="servicios">
            <picture>
                <source media="(max-width: 767px)" srcset="/assets/visuals/work-servicios-md.svg">
                <img src="/assets/visuals/work-servicios.svg">
            </picture>
            <picture>
                <source media="(max-width: 767px)" srcset="/assets/visuals/work-servicios-text-md.svg">
                <img src="/assets/visuals/work-servicios-text.svg">
            </picture>
            <div class="table flex-column-md">
                <div class="column ">
                    <span class="header">Branding</span>
                    <span class="field">Creaci칩n de contenido</span>
                    <span class="field">Dise침o de Logotipo</span> 
                    <span class="field">Identidad Visual</span>
                    <span class="field">Aplicaciones de Marca</span>
                </div>
                <div class="column ">
                    <span class="header">Digital</span>
                    <span class="field">Estrategias de Comunicaci칩n</span>
                    <span class="field">Campa침as de Publicidad</span>  
                </div>
                <div class="column ">
                    <span class="header">Marketing</span>
                    <span class="field">Paginas web</span>
                    <span class="field">Redes Sociales</span>  
                    <span class="field">Google Ads</span>
                </div>
                <div class="column ">
                    <span class="header">Editorial</span>
                    <span class="field">Brochures</span> 
                    <span class="field">Posters</span>
                    <span class="field">Revistas</span>
                    <span class="field">Libros</span>

                </div>
            </div>
        </div>
    </section>