{{!< default}}
<section id="home">
    <img src="/assets/visuals/creamos.svg">
    {{> contact}}
</section>
<section id="philosophy">

</section>
<section id="work">
    <div class="clientes">
        <img src="/assets/visuals/work-clientes.svg">
    </div>
    <div class="servicios">
        <img src="/assets/visuals/work-servicios.svg" />
        <img src="/assets/visuals/work-servicios-text.svg" />
        <table>
            <thead>
                <tr>
                <th>Branding</th>
                <th>Digital</th>
                <th>Marketing</th>
                <th>Editorial</th>
                </tr>
            </thead>
            <tr><td colspan="4"><br></td></tr>
                <tr>
                    <td>Creaci칩n de Nombre <br>
                         Dise침o de Logotipo <br>
                          Identidad Visual <br>
                          Aplicaciones de Marca</td>
                    <td>Estrategias de Comunicaci칩n <br>
                        Campa침as de Publicidad</td>
                    <td>Paginas web<br>
                    Redes Sociales<br>
                    Google Ads<br>
                    </td>
                    <td>Brochures <br> Posters <br>Revistas <br> Libros</td>
                </tr>
        </table>
    </div>
</section>