{{!< default}}
<section id="home">
        <div id="slogan">
            {{#post}}
                <a href="/{{slug}}">{{#if feature_image}}
                        {{>post-media}}
                    {{else}}
                        {{content}}{{/if}}</a>
            {{/post}}
        </div>
    {{> contact}}
    </section>
</section>