section{
    align-content: stretch;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}
#home > img{
    margin-bottom: 4rem;
}
.servicios, .somos{
    padding-top: 4rem;
    padding-bottom: 6rem;
    width: 100vw;
    background-color: black;
    align-content: stretch;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;    
}

section > div > picture{
    margin-bottom: 2rem;
}
.table{
    color: var(--white-color);
    text-align: left;
    display: flex;
    flex-direction: row;
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
}
.table > span{
    display: block;
}
.table > .column {
    display: flex;
    flex-direction: column;
    margin-right: 15px;
}
.table > .column:last-child{
    margin-right: unset;
}
.table > .column > .header{
    color: var(--secondary-text-color);
    font-family: Butler;
    border-bottom: 1px solid #cdcdcd;
    line-height: 19px;
    margin-top: 15px;
    padding-bottom: 3px;
}
.field:first-child{
    margin-bottom: 10px;
}
.table > .column > .field {
    margin-right: 2em;
    min-width: 180px;
}

.field:last-child{
    margin: 0;
    min-width: unset;
}
@media (max-width:736px) {
    .table .column >.header{
        display: inline-block;
   }
    section{
        align-content: center;
    }
    .servicios{
        align-content: center;
    }
}