.site {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 100vw;
}

.site-content {
    flex-grow: 1;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
